[Unit]
Description=AGL Container Manager
After=drm-lease-manager.service lxc-net.service multi-user.target
Wants=drm-lease-manager.service lxc-net.service multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/containermanager

[Install]
WantedBy=multi-user.target
